In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_fake = pd.read_csv('Fake.csv')
df_true = pd.read_csv('True.csv')

In [3]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
df_fake.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [6]:
df_fake.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [7]:
df_true.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [8]:
#inserting column 'class' as a target feature 
df_fake['class'] = 0
df_true['class'] = 1

In [9]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [10]:
df_merge = pd.concat([df_fake, df_true], axis =0)
df_merge

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [11]:
df_merge.shape

(44898, 5)

In [12]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [13]:
#dropping unnecessary columns

df = df_merge.drop(['title','subject','date'], axis = 1)

In [14]:
#Random shuffling of dataframe 
df = df.sample(frac = 1)
df.head()

                                                    text  class
18118  BERLIN (Reuters) - Catalonia s moves to seek i...      1
2718   WASHINGTON (Reuters) - A U.S. federal appeals ...      1
7396   BORDEAUX, France (Reuters) - “The French never...      1
19455  These women aren t sitting back and waiting fo...      0
5251   (Reuters) - The U.S. Supreme Court on Monday u...      1

In [16]:
df.reset_index(inplace=True)
df.drop(['index'], axis=1,inplace=True)

In [17]:
df.columns

Index(['text', 'class'], dtype='object')

In [18]:
df.head()

                                                text  class
0  BERLIN (Reuters) - Catalonia s moves to seek i...      1
1  WASHINGTON (Reuters) - A U.S. federal appeals ...      1
2  BORDEAUX, France (Reuters) - “The French never...      1
3  These women aren t sitting back and waiting fo...      0
4  (Reuters) - The U.S. Supreme Court on Monday u...      1

In [20]:
#Text preprocessing

def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [23]:
import re
import string

df["text"] = df["text"].apply(wordopt)

In [24]:
df.head()

                                                text  class
0  berlin  reuters    catalonia s moves to seek i...      1
1  washington  reuters    a u s  federal appeals ...      1
2  bordeaux  france  reuters     the french never...      1
3  these women aren t sitting back and waiting fo...      0
4   reuters    the u s  supreme court on monday u...      1

In [27]:
x = df['text']
y = df['class']

In [28]:
x

0        berlin  reuters    catalonia s moves to seek i...
1        washington  reuters    a u s  federal appeals ...
2        bordeaux  france  reuters     the french never...
3        these women aren t sitting back and waiting fo...
4         reuters    the u s  supreme court on monday u...
                               ...
44893    hong kong  reuters    authorities in the chine...
44894     reuters    u s  president donald trump on fri...
44895    america s gotta keep  star mooch  her lovely d...
44896    homestead  fla   reuters    this sprawling sub...
44897    washington  reuters    u s  president donald t...
Name: text, Length: 44898, dtype: object

In [29]:
y

0        1
1        1
2        1
3        0
4        1
        ..
44893    1
44894    1
44895    0
44896    1
44897    1
Name: class, Length: 44898, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [33]:
x_train

10185    washington  reuters    democratic presidential...
17269    gaza cairo  reuters    rival palestinian facti...
29275    it s a job killer  it s a small business kille...
12668    washington  reuters    u s  president donald t...
39427    washington  reuters    the white house confirm...
                               ...
44566    washington  reuters    the senate environment ...
30280    anyone watching monday night s highly charged ...
6637     making america unsafe again it s the obama leg...
35343     reuters    while the new seven member politbu...
23720    on tuesday  all of kenya went dark for more th...
Name: text, Length: 35918, dtype: object

In [34]:
y_test

38618    0
42132    0
1880     1
20256    1
41367    1
        ..
2941     0
26094    1
33430    0
42889    0
18916    1
Name: class, Length: 8980, dtype: int64

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [40]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [42]:
pred_LR = LR.predict(xv_test)
pred_LR

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [43]:
LR.score(xv_test, y_test)

0.9861915367483296

In [45]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      4704
           1       0.98      0.99      0.99      4276

    accuracy                           0.99      8980
   macro avg       0.99      0.99      0.99      8980
weighted avg       0.99      0.99      0.99      8980